@model ProductsViewModel

<form method="post" enctype="multipart/form-data" style="margin-left: 150px; width: 70% ;" asp-controller="Products" asp-action="Update">

    <div class="form-group">
        <label for="exampleInputEmail1">ImageProduct</label>
        <input class="form-control" asp-for="Image">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">UploadImage</label>
        <input class="form-control" asp-for="UploadImage">
        <span asp-validation-for="UploadImage"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">NameProduct</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Price</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Category</label>
        <input class="form-control" asp-for="CategoryId">
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>
