
@model StaffViewModel

<body>
    <header>
        <div class="container">
            <div class="container">

                <div class="row">

                    <div class="col-lg-3">
                        <div class="user--profile-left" style="padding: 20px;">
                            <li class="list-group-item"><a href="#" class="text-decoration-none text-dark ">Thông Tin Cá Nhân</a></li>
                            <li class="list-group-item"><a href="#" class="text-decoration-none text-dark ">Đổi tên người dùng</a></li>
                            <li class="list-group-item"><a href="#" class="text-decoration-none text-dark "> Đổi mật khẩu</a></li>
                            <li class="list-group-item"><a href="#" class="text-decoration-none text-dark ">Quản lý đội</a></li>
                            <li class="list-group-item"><a href="#" class="text-decoration-none text-dark">Liên hệ</a></li>
                        </div>
                    </div>
                    <div class="col-lg-9 d-flex">
                        <form>
                            <div class="form-group d-flex" >
                                <label for="exampleInputEmail1" hidden>ID</label>
                                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Id" hidden>
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleInputEmail1">Name</label>
                                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Name">
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleInputPassword1">Age</label>
                                <input class="form-control" id="exampleInputPassword1" asp-for="Age">
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleInputEmail1">Email</label>
                                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Email">
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleInputEmail1">BirthDay</label>
                                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Birthday">
                            </div>
                            <div class="form-group d-flex">
                                <label for="exampleInputEmail1">Address</label>
                                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Address">
                            </div>
                            <div class="form-group d-flex" style="float: right;">
                                <button type="submit" class="btn btn-primary mx-3"  asp-action="Update" asp-controller="Staff">Save</button>
                                <button type="submit" class="btn btn-secondary">Cancel</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
    </header>
</body>
